<div class="modal fade" id="newbook" tabindex="-1" role="dialog" aria-labelledby="newBookForm" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="newBookForm">Add New Book</h4>
      </div>
      <div class="modal-body">
        <%= form_tag '/books', role: 'form' ,class:'form-horizontal' do %>

    <div class="form-group">
      <%= label_tag(:name, "Name" , class: 'col-sm-4 control-label') %>
    <div class="col-sm-8">
      <%= text_field_tag(:name,'', class: 'form-control', placeholder: 'Enter the name of book') %>
    </div>
    </div>

    <div class="form-group">
      <%= label_tag(:author, "Author" , class: 'col-sm-4 control-label') %>
    <div class="col-sm-8">
      <%= text_field_tag(:author,'',class: 'form-control', placeholder: 'Author of the book') %>
    </div>
    </div>
    
    <div class="form-group">
      <%= label_tag(:edition, "Edition" ,class: 'col-sm-4 control-label') %>
    <div class="col-sm-8">
      <%= text_field_tag(:edition,'', class: 'form-control',placeholder: 'Enter edition of the book') %>
    </div>
    </div>
    
    <div class="form-group">
      <%= label_tag(:description, "Description" ,class: 'col-sm-4 control-label') %>
    <div class="col-sm-8">
      <%= text_area_tag(:description,'', class: 'form-control',placeholder: 'Enter description of the book') %>
    </div>
    </div>

    <div class="form-group">
      <%= label_tag(:tags, "Tags" ,class: 'col-sm-4 control-label') %>
    <div class="col-sm-8">
      <%= text_field_tag(:tags,'', class: 'form-control',placeholder: 'Enter tags for the book') %>
    </div>
    </div>

    <div class="form-group">
      <%= label_tag(:price, "Price" ,class: 'col-sm-4 control-label') %>
    <div class="col-sm-8">
      <%= text_field_tag(:price,'', class: 'form-control',placeholder: 'Enter approximate price') %>
    </div>
    </div>

    <div class="form-group">
      <%= label_tag(:contact, "Contact Info" ,class: 'col-sm-4 control-label') %>
    <div class="col-sm-8">
      <%= text_field_tag(:contact,'', class: 'form-control',placeholder: 'Enter contact no./email') %>
    </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>        
        <%= submit_tag("Add Book",class: "btn btn-primary", id: "savebook") %>    
      </div> 
    
        <% end %>
      </div>
       
    </div>
  </div>
</div>