<nav class="navbar navbar-default" role="navigation">
<div class="container">
<div class="navbar-header">
   <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
       <a class="navbar-brand" href="/">DoubtSync</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
      <ul class="nav navbar-nav navbar-right">
	    <li class="active"><a href="/main/feed#post">Posts</a></li>
		<li><a href="#" title="Coming Soon">Books</a></li>
		<li><a href="#" title="Coming Soon">Events</a></li>
    <li style="position:absolute;right:0;"><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
      </ul>
    </div>
</div>
</nav>
<div class="container-fuild">
  <div class="row">
  <div class="col-md-2">
    <!-- left sidebar -->
    <ul>
      <li>
        <a href="/users/<%= current_user.id%>">My Profile</a>
      </li>
    </ul>
  </div>
	

  <div class="col-md-8">
  <!-- central area -->
    <div class="row">
	   <div id="newpost" class="col-md-8">
      <!-- new post -->
      <div class="anon">
      <input type="checkbox" id="anoncheckbox">Anonymous
      </div>

        <textarea class="postarea" id="posta"></textarea>
      </div>
      <div id="newpost" class="col-md-4">
    	<button class="post">
        <img class="splash" src="/assets/watersplash_3.svg" alt="Splash!" />
        <img class="splash splash-2" src="/assets/watersplash_3.svg" alt="Splash!" />
        <img class="sub" src="/assets/sublogo_16.svg" class="Submarine" />
        <img class="submerge" src="/assets/submerge.svg" alt="Water" />
        <span class="main-text">
          <span class="submit">P</span>ost
        </span>
        <span class="sent-text">
          <span class="sent">Posted!</span>
        </span>
      </button>
      </div>
    </div>
    
    <div id='posts'>
      <% @posts.each do |post| %>
      <div class="col-md-7 singlepost" data-pid="<%= post.id %>">
        <div class="imagecontainer">
        <% if post.visibility_to_prof %>
        <%= image_tag(post.user.avatar.url,class: 'profilepic img-responsive',alt: post.user.username,title: post.user.profile.first_name << " " << post.user.profile.last_name) %>
        <span><%= post.user.username %></span>
        <% else %>
        <%= image_tag('/images/original/anonymous.png',class: 'profilepic img-responsive',alt: 'Anonymous',title: 'Anonymous') %>
        <span>Anonymous</span>
        <% end %>
        </div>
        <div class="posttext">
          <div>
          <span class="view glyphicon glyphicon-plus-sign"></span>
          <% if post.user == current_user %>
          <span class="delete glyphicon glyphicon-remove-circle"></span>
          <% end %>
          </div>
          <p class="ptext"><%= post.text %></p>
        </div>
        <!-- Comments -->
        <div class="comments">
        <% post.comments.each do |comment| %>
        <div class="singlecomment"  data-cid="<%= comment.id %>">
          <div class="commentimage">
          <%= image_tag(comment.user.avatar.url,class: 'profilepic img-responsive',alt: comment.user.username,title: comment.user.profile.first_name << " " << comment.user.profile.last_name) %>
          <span><%= comment.user.username %></span>
          </div>
          <div class="commenttext">
          <div>
          <span class="up glyphicon glyphicon-circle-arrow-up"></span>
          <span class="number">
          <% 
          up = comment.upvotes.to_s.count(',');
          down = comment.downvotes.to_s.count(','); 
          %>
          <% if up > down %>
          +<%= up - down %>
          <% elsif up < down %>
          -<%= down - up %>
          <% else %>
          0
          <% end %>
          </span>
          <span class="down glyphicon glyphicon-circle-arrow-down"></span>
          </div>
          <p class="ctext"><%= comment.text %></p>
          </div>
          </div>
          <% end %>
          <div class="insertcomment">
            <textarea class="writecomment"></textarea>
            <button class="commentpost">Post</button>
          </div>
        </div>

        <!--tags: <%= post.tagged_users %><br/>
        <span class='up'>upvote</span>:<%= post.upvotes %>
        <span class='up'>downvote</span>:<%= post.downvotes %>-->
        
      </div>
      <% end %>
    </div>
  </div>
	
  <div class="col-md-2">
    <!-- rigth sidebar -->
  </div>
	
  </div>
</div>
