<%= render 'shared/header' %>
<div class="container-fuild">
  <div style="position: relative;display: inline-block;width:100%;">
  <div class="col-md-2">
    <!-- left sidebar -->
    <%= render 'shared/leftsidebar' %>
  </div>
	<!-- New Book Form -->
  <%= render 'shared/add_book_model' %>
  <% if current_user.role.name == 'professor' %>
    <%= render 'shared/add_internship_model' %>
  <% end %>

  <div class="col-md-7">
  <!-- central area -->
  <div class="new_message form-group">
   <div class="col-sm-10">
    <input type="text" value="" id="user" class="form-control" placeholder="Enter username" />
    </div>
    <div class="col-sm-2">
    <button type="button" class="btn btn-info">New Message</button></div>
  </div>
  <br> <br>
  <div class="show_messages">
    <% mess = {}
    @messages.each do |message| %>
    <% #TODO Message should be conversation based so create a new message only if users appear first time else prepend the old message to the list %>

      <% 
      if message.sender!= current_user && mess[message.sender.id] !=nil 
        mess[message.sender.id] << message
      elsif message.sender!= current_user && mess[message.sender.id] ==nil 
        mess[message.sender.id] = Array.new
        mess[message.sender.id] << message 
      elsif message.sender == current_user && mess[message.receiver.id] !=nil 
        mess[message.receiver.id] << message
      elsif message.sender == current_user && mess[message.receiver.id] ==nil 
        mess[message.receiver.id] = Array.new
        mess[message.receiver.id] << message 
      %>
      
      <% end %>
    <% end %>

    <% mess.each do |key,conversation| %>
    <div class="panel-group" id="mesbox<%= key %>">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title"><a data-toggle="collapse" data-parent="#mesbox<%= key %>" href="#message<%= key %>" class="collapsed"><%= conversation.first.text %></a><div class="pull-right">By: <a href="/users/<%= key %>"><%= conversation.first.sender.name %></a></div></h4></div>
          <div id="message<%= key %>" class="panel-collapse collapse" style="height: 0px;">
            <div class="panel-body">
            <div id="messagelist<%= key %>">      
    <% conversation.reverse.each do |v| %>
      <div class="messagetext">From <%= if v.sender == current_user
       'me' else v.sender.name end %>: <%= v.text %> at <%= v.created_at %> </div>
    <% end %>
      </div>
        <textarea class="form-control" placeholder="Reply Here"></textarea>
        <br>
        <!-- <button class="btn btn-primary ">Attachment</button> -->
        <% if conversation.last.sender == current_user
            other = conversation.last.receiver
          else
            other = conversation.last.sender
          end %>
         <button class="btn pull-right btn-danger reply" data-userid="<%= other.id %>">Reply</button>
        </div>
      </div>
    </div>
  </div>
    <% end %>

  </div>
  </div>
  <div class="col-md-3">
    <!-- <ul class="rightside">
      <li>
        <button id="addevent" class="btn" data-toggle='modal' data-target='#newevent'>Create a Event</button>
      </li>
    </ul> -->
    <%= render 'shared/event' %>
  </div>

  <!-- New Event Form -->
  <%= render 'shared/add_event_model' %>
	
  
</div>