	<div class="row">
  <%= render 'follow_form' if user_signed_in? %>
		<!--Profile Pic-->
    <div class="leftprofile">
		<div class="profileinfo">
			<img src="<%= current_user.avatar.url %>" alt="" width="200" height="200" style="border:double #FFFFFF thick">
		</div>
		<!--Information-->
  <div id="wrapper" style="display:inline-block">
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav ">                
                <li><a id="following"  data-uid="<%= @user.id %>"><span class="badge pull-right" style="margin-top:10px;margin-right:5px"><%= @user.followed_users.count %></span>Following</a>
                </li>
                <li><a id="follower" data-uid="<%= @user.id %>"><span class="badge pull-right" style="margin-top:10px;margin-right:5px"><%= @user.followers.count %></span>Followers</a>
                </li>
            </ul>
        </div>
        <ul class="extralink">
          <li><a href="/users/manage">Edit Profile</a></li>
            <li><a href="#">Need Help?</a></li>
        </ul>
</div>
</div>

<div class="rightprofile">
<div class="profileinfo info">
      <h1><%= @student.first_name if @student.first_name<< " " << @student.last_name if @student.last_name %></h1>
      <h4>Degree: <%= @student.degree if @student.degree %></h4>
      <h4>College:<%= current_user.college.name  if current_user.college.name %></h4>
      <h4>Graduate Year: <%= @student.graduate_year if @student.graduate_year %></h4>
    </div>
<div id="displayarea">

</div>

</div>

</div>