	<div class="row">
  <%= render 'follow_form' if user_signed_in? %>
		<!--Profile Pic-->
		<div class="profileinfo">
			<img src="<%= current_user.avatar.url %>" alt="" width="200" height="200" style="border:double #FFFFFF thick">
		</div>
		<!--Information-->
		<div class="profileinfo info">
			<h1><%= @student.first_name if @student.first_name<< " " << @student.last_name if @student.last_name %></h1>
      <h4>Degree: <%= @student.degree if @student.degree %></h4>
      <h4>College:<%= current_user.college.name  if current_user.college.name %></h4>
      <h4>Graduate Year: <%= @student.graduate_year if @student.graduate_year %><h4>
		</div>
	</div>
  <!-- <section>
    	<#%= render 'shared/stats' %>
  </section> -->

<div class="row">
  <div id="wrapper" style="display:inline-block">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav ">
                <!--<li style="border-bottom:#999999"><a href="#">
        <span class="badge pull-right" style="margin-top:10px">10</span>News Feed</a>
                 </li>
        <li><a href="#">
        <span class="badge pull-right" style="margin-top:10px">42</span>Messages</a>
                </li>
                <li><a href="#">Create Resume</a></li>
                <li><a href="#">Current Projects</a></li> -->
                <li><a href="<%= following_user_path(@user) %>"><span class="badge pull-right" style="margin-top:10px;margin-right:5px"><%= @user.followed_users.count %></span>Following</a>
                </li>
                <li><a href="<%= followers_user_path(@user) %>"><span class="badge pull-right" style="margin-top:10px;margin-right:5px"><%= @user.followers.count %></span>Followers</a>
                </li>
                <!-- <li><a href="#">My Resume</a></li>
                <li><a href="#">Areas of Interest</a></li> -->
            </ul>
        </div>
        <ul class="extralink">
          <li><a href="manage">Edit Profile</a></li>
            <li><a href="#">Need Help?</a></li>
        </ul>

</div>
<div style="display:none"> 	
<!-- Photo: <%= image_tag(current_user.avatar.url(:thumb)) %><br /> -->
	<!-- Name: <%= @student.first_name if @student.first_name << " " << @student.last_name if @student.last_name %><br /> -->
	Gender: <%= @student.gender if @student.gender ? 'male' : 'female' %><br />
	College: <%= current_user.college.name %><br />
	Degree: <%= @student.degree if @student.degree %><br />
	Graduate Year: <%= @student.graduate_year if @student.graduate_year %></div>
</div>  