<div class="container">
	<%= form_tag 'manage', role: 'form'  do %>
		<% if@student %>
		<%= label_tag(:first_name, "First Name") %>
  		<%= text_field_tag(:first_name,@student.first_name) %><br/>
		<%= label_tag(:last_name, "Last Name") %>
  		<%= text_field_tag(:last_name,@student.last_name) %><br/>
		<%= label_tag(:mobile, "Mobile no.") %>
  		<%= telephone_field(:mobile, :phone,value: @student.mobile) %><br/>
		<!-- <input type="text" placeholder="college name"> -->
		<%= radio_button_tag(:gender, "male",checked: @student.gender) %>
		<%= label_tag(:male, "Male") %>
		<%= radio_button_tag(:gender, "female",checked: !@student.gender) %>
		<%= label_tag(:female, "Female") %>
		<%= date_field(:user, :dob,value: @student.dob) %><br />
		<%= label_tag(:degree, "Degree") %>
  		<%= text_field_tag(:degree,@student.degree) %><br/>
		<%= label_tag(:graduate, "Graduate Year") %>
  		<%= number_field_tag(:graduate,@student.graduate_year) %><br/>
  		
  		<% else %>
  		<%= label_tag(:first_name, "First Name") %>
  		<%= text_field_tag(:first_name) %><br/>
		<%= label_tag(:last_name, "Last Name") %>
  		<%= text_field_tag(:last_name) %><br/>
		<%= label_tag(:mobile, "Mobile no.") %>
  		<%= telephone_field(:mobile, :phone) %><br/>
		<!-- <input type="text" placeholder="college name"> -->
		<%= radio_button_tag(:gender, "male",:checked) %>
		<%= label_tag(:male, "Male") %>
		<%= radio_button_tag(:gender, "female") %>
		<%= label_tag(:female, "Female") %>
		<%= date_field(:user, :dob) %><br />
		<%= label_tag(:degree, "Degree") %>
  		<%= text_field_tag(:degree) %><br/>
		<%= label_tag(:graduate, "Graduate Year") %>
  		<%= number_field_tag(:graduate) %><br/>
  		<% end %>
		<%= submit_tag("Update") %>
	<% end %>
</div>