	<div class="row" style="margin-top:54px">
  <%= render 'follow_form' if user_signed_in? %>
  <div style="position:absolute;right:50px;">Professor</div>
		<!--Profile Pic-->
    <div class="leftprofile">
		<div class="profileinfo">
			<img src="<%= @user.avatar.url %>" alt="" width="200" height="200" style="border: 1px #ddd solid;">
		</div>
		<!--Information-->
  <div id="wrapper" style="display:inline-block">
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav" data-uid="<%= @user.id %>">                
                <li><a id="following"><span class="badge pull-right" style="margin-top:10px;margin-right:5px"><%= @user.followed_users.count %></span>Following</a>
                </li>
                <li><a id="follower"><span class="badge pull-right" style="margin-top:10px;margin-right:5px"><%= @user.followers.count %></span>Followers</a>
                </li>
                <li><a id="myquestion"><span class="badge pull-right" style="margin-top:10px;margin-right:5px"><%= @user.posts.count %></span>My Question</a>
                <li><a id="myanswer"><span class="badge pull-right" style="margin-top:10px;margin-right:5px"><%= @user.comments.count %></span>My Answer</a>
                <li><a id=""><select class="form-control">
                <option>Working Project</option>
                <option>Completed Project</option>
              </select></a>
                <li><a id="">Area of Interest</a>
                <li><a id="">My resume</a>
                <li><a id="">Interships</a>
                </li>
            </ul>
        </div>
        <ul class="extralink">
          <li><a href="/users/manage">Edit Profile</a></li>
            <li><a href="#">Need Help?</a></li>
        </ul>
</div>
</div>

<div class="rightprofile">
<div class="profileinfo info">
      <h1><%= @prof.first_name if @prof.first_name<< " " << @prof.last_name if @prof.last_name %></h1>
      <!-- <h4>Degree: <%#= @prof.degree if @prof.degree %></h4> -->
      <h4>College:<%= current_user.college.name  if current_user.college.name %></h4>
      <!-- <h4>Graduate Year: <%#= @prof.graduate_year if @prof.graduate_year %></h4> -->
    </div>
<div id="displayarea" style="padding:'0 50px'">

</div>

</div>

</div>