<div class="container">
<div class="navbar-header">
  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
    <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
  </button>
  <a class="navbar-brand" href="#"><b><i>DoubtSync</i></b></a>
</div>
<div class="navbar-collapse collapse">
  <ul class="nav navbar-nav">
    <li>
      <a href="#about">About</a>
    </li>
    <li>
      <a href="#contact">Contact</a>
    </li>
    
  </ul>
  
  <!--/.navbar-collapse -->
</div>
        
      

<% if !current_user.nil? %>
<%= current_user.username %>
  <!-- render feed page -->
  <li>
  <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
  </li>
<% else %>
<div class="row">
	<div class="col-md-9">
	<div class="row">
		<div class="jumbotron" style=" background:url('http://www.adigaskell.org/blog/wp-content/uploads/2013/02/creativity11-e1350842733549.jpg');background-size:100%">
        <!-- <button type="submit" class="btn pull-right btn-primary btn-lg">Sign up</button>
          <h4 style="color:#008000; margin-right:20px" class="pull-right">  Not a member yet? </h4> -->
          <div class="filter"></div>
        <div class="container" style="color:#ddd">
          <h1>Doubtsync</h1>
          <p>This is the ultimate platform for all your academic needs. Doubts Solving, Creating Resumes, </p>
          <p>Looking for research opportunities and interacting with professors. We are here to solve them</p>
          <p>all. </p>
          <p><a class="btn btn-primary btn-lg">Learn more</a></p>
        </div>
      </div>
	</div>
		<div class="row">
          <div class="col-lg-4">
            <h2> Doubts Solving </h2>
            <p>Are you the shy one in the class room? Are doubts piling up and your only resort is the 'studious' friend. Move over it. Doubtsync is the platform where you can shed off all your shyness and interact with the best in each topic.</p>
            <h2>Creating Resumes</h2>
            <p>Confused between what a resume for a job and a resume for Placements look like? Don't you worry- We are here to solve all your problems. </p>
            <p><a class="btn btn-default" href="#">View details</a></p>
          </div>
          <div class="col-lg-4">
            <h2>Looking for Research? </h2>
            <p>Doubtsync is the ultimate abode for all you research craving minds. Search for topics your are interested in. Search for your favorite professors- Whom you wish to work with. </p>
            <p><a class="btn btn-default" href="#">View details</a></p>
          </div>
        </div>
	</div>
	<div class="col-md-3 pull-right">
<%= form_for(resource, :as => resource_name,:url => session_path(:user), html: {role: 'form',id:'loginform' } ) do |f| %>
	<div class="form-group">
		<%= f.label :username %>
	  	<%= f.text_field :username, class: 'form-control', placeholder: "Enter username",:autofocus=>true %>
	</div>
	<div class="form-group">	
	<%= f.label :password %>
	<%= f.password_field :password, class: 'form-control', placeholder: "password" %>
	</div>
	  <%= f.check_box :remember_me %>
	  <%= f.label :remember_me %><br>
	  <%= f.submit 'Sign in', class: 'btn btn-primary login' %>
	  <a href="register"><%= f.submit 'Sign up', class: 'btn btn-default register', type: 'button' %></a><br>
	  <%= link_to "Forgot your password?", new_password_path(:user) %>
	<% end %>

	</div>

</div>
<% end %>
</div>
