<div>
<%= form_for(current_user.relationships.build(followed_id: @user.id)) do |f| %>
  <div><%= f.hidden_field :followed_id %></div>
  <%= f.submit "Follow", class: "btn btn-large btn-primary" %>
<% end %>
	Name: <%= @student.first_name << " " << @student.last_name %><br />
	Gender: <%= @student.gender ? 'male' : 'female' %><br />
	College: <%= @student.college_name %><br />
	Degree: <%= @student.degree %><br />
	Graduate Year: <%= @student.graduate_year %>
</div>