<div>
	Name: <%= @student.first_name << " " << @student.last_name %><br />
	Gender: <%= @student.gender ? 'male' : 'female' %><br />
	College: <%= @student.college_name %><br />
	Degree: <%= @student.degree %><br />
	Graduate Year: <%= @student.graduate_year %>
</div>